.form {
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 1em;
}

.formList {
  list-style: none;
}

.formList li + li {
  margin-top: 1em;
}

.button_container {
  display: flex;
  justify-content: space-between;
}
